In [1]:
import psycopg2
import os

In [2]:
os.getlogin()

'seanreed1'

In [2]:
dir(psycopg2)

['BINARY',
 'Binary',
 'DATETIME',
 'DataError',
 'DatabaseError',
 'Date',
 'DateFromTicks',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NUMBER',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'ROWID',
 'STRING',
 'Time',
 'TimeFromTicks',
 'Timestamp',
 'TimestampFromTicks',
 'Warning',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__libpq_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_connect',
 '_ext',
 '_json',
 '_psycopg',
 '_range',
 'apilevel',
 'compat',
 'connect',
 'errors',
 'extensions',
 'paramstyle',
 'threadsafety',
 'tz']

In [22]:
conn = psycopg2.connect(database="jupyterdb", user="jupyteruser", password="jupyteruser")
cur = conn.cursor()

In [23]:
conn.autocommit = True

In [25]:
cur.execute("INSERT INTO t1 VALUES (5), (6), (7);")

In [26]:
cur.execute("SELECT * FROM t1;")

In [27]:
cur.fetchone()

(5,)

In [28]:
cur.fetchall()

[(6,), (7,)]

In [35]:
cur.scroll(0, mode='absolute')

In [36]:
cur.fetchall()

[(5,), (6,), (7,)]

In [37]:
cur.fetchall()

[]

In [38]:
cur.scroll(0, mode='absolute')

In [39]:
cur.fetchone()

(5,)

In [40]:
cur.fetchone()

(6,)

In [41]:
cur.fetchone()

(7,)

In [42]:
cur.fetchone()

In [43]:
cur.scroll(1, mode='absolute')

In [44]:
cur.fetchone()

(6,)

In [33]:
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'binary_types',
 'callproc',
 'cast',
 'close',
 'closed',
 'connection',
 'copy_expert',
 'copy_from',
 'copy_to',
 'description',
 'execute',
 'executemany',
 'fetchall',
 'fetchmany',
 'fetchone',
 'itersize',
 'lastrowid',
 'mogrify',
 'name',
 'nextset',
 'pgresult_ptr',
 'query',
 'row_factory',
 'rowcount',
 'rownumber',
 'scroll',
 'scrollable',
 'setinputsizes',
 'setoutputsize',
 'statusmessage',
 'string_types',
 'typecaster',
 'tzinfo_factory',
 'withhold']

In [30]:
cur.fetchall()

[]

In [7]:
conn.autocommit = False

In [8]:
cur.execute("SELECT * FROM t1;")

In [9]:
cur.fetchone()

(5,)

In [11]:
conn.get_transaction_status()

2

In [12]:
cur.fetchone()

ProgrammingError: no results to fetch

In [13]:
conn.rollback()

In [14]:
cur.fetchone()

ProgrammingError: no results to fetch

In [15]:
cur.execute("INSERT INTO t1 VALUES (8), (9), (10);")
conn.commit()

In [16]:
cur.execute("SELECT * FROM t1;")

In [17]:
cur.fetchone()

(5,)

In [18]:
cur.fetchall()

[(5,),
 (6,),
 (7,),
 (8,),
 (9,),
 (10,),
 (18,),
 (19,),
 (100,),
 (18,),
 (19,),
 (100,),
 (8,),
 (9,),
 (10,)]

IF conn.autocommit = False, here are two ways to use psycopg:

In [ ]:
cur.execute("INSERT INTO t1 VALUES (8), (9), (10);")
conn.commit()

In [32]:
with conn: # danger, abnormal behavior. YOU MUST STILL do conn.close()
    cur.execute("INSERT INTO t1 VALUES (18), (19), (100);")
    
with conn:
    cur.execute("SELECT * FROM t1;")

In [33]:
cur.fetchall()

[(5,),
 (5,),
 (6,),
 (7,),
 (8,),
 (9,),
 (10,),
 (18,),
 (19,),
 (100,),
 (18,),
 (19,),
 (100,)]

after you are done, ALWAYS DO conn.close()

In [36]:
conn.close()

In [37]:
cur.execute("SELECT * FROM t1;") #InterfaceError: cursor already closed

InterfaceError: cursor already closed

In [3]:
conn = psycopg2.connect(database="jupyterdb", user="jupyteruser", password="jupyteruser")
cur = conn.cursor()

In [4]:
conn.autocommit = True

In [5]:
cur.execute("""
        DROP TABLE IF EXISTS cars;
        CREATE TABLE cars(id INT, name TEXT, price INT);
        INSERT INTO cars VALUES(1,'Audi',52642);
        INSERT INTO cars VALUES(2,'Mercedes',57127);
        INSERT INTO cars VALUES(3,'Skoda',9000);
        INSERT INTO cars VALUES(4,'Volvo',29000);
        INSERT INTO cars VALUES(5,'Bentley',350000);
        INSERT INTO cars VALUES(6,'Citroen',21000);
        INSERT INTO cars VALUES(7,'Hummer',41400);
        INSERT INTO cars VALUES(8,'Volkswagen',21600);
        """)

In [7]:
cur.execute("SELECT * FROM cars;")
cur.fetchall()

[(1, 'Audi', 52642),
 (2, 'Mercedes', 57127),
 (3, 'Skoda', 9000),
 (4, 'Volvo', 29000),
 (5, 'Bentley', 350000),
 (6, 'Citroen', 21000),
 (7, 'Hummer', 41400),
 (8, 'Volkswagen', 21600)]

In [8]:
cur.execute("SELECT * FROM psycopg_test;")
cur.fetchall()

InsufficientPrivilege: permission denied for table psycopg_test

In [9]:
cur.close()
conn.close()

In [10]:
conn = psycopg2.connect(database="jupyterdb", user=os.getlogin())
cur = conn.cursor()

In [11]:
cur.execute("SELECT * FROM psycopg_test;")
cur.fetchall()

[(1, 'sean', 'sqr9978@gmail.com'),
 (2, 'Virginia Holmes', 'Virginia Holmes'),
 (3, 'Virginia Holmes', 'lesliewelch@shaw.com'),
 (4, 'Virginia Holmes', 'lesliewelch@shaw.com'),
 (5, 'Bonnie Jones', 'holtbrian@gmail.com'),
 (6, 'Brian Taylor', 'wrightjason@manning.com'),
 (7, 'Jeremy Harris', 'allisonjackson@gmail.com'),
 (8, 'Elizabeth Nguyen', 'jordanedward@taylor.com'),
 (9, 'Natasha Smith', 'gwilkins@hotmail.com'),
 (10, 'Alexandra Ramos', 'wardelizabeth@hotmail.com'),
 (11, 'James Myers', 'billywang@gmail.com'),
 (12, 'Becky Patton', 'youngzachary@graham.com'),
 (13, 'Allen Brown', 'jessicamartin@young-freeman.info'),
 (14, 'Sheryl Jones', 'barbarataylor@yahoo.com'),
 (15, 'Amanda Yates', 'thomasrandy@thomas.net'),
 (16, 'Brady Harris', 'racheljones@hotmail.com'),
 (17, 'Mckenzie Williams', 'stephanie00@rose.com'),
 (18, 'Michael Osborn', 'wallacedominic@hotmail.com'),
 (19, 'Joshua Williams', 'conleylinda@gmail.com'),
 (20, 'Heather Gonzalez DVM', 'hoovershelly@page-woods.com'),
 (21, 'Taylor Joseph', 'oneillmichael@vazquez-davies.com'),
 (22, 'Dana Booth', 'joseph97@hotmail.com'),
 (23, 'Charles Williams', 'jonespeter@yahoo.com'),
 (24, 'Lisa Barnes', 'kimberly96@serrano-keller.com'),
 (25, 'Michael Dennis', 'bradleylawrence@gmail.com'),
 (26, 'Lauren Myers', 'sophiamccarthy@gmail.com'),
 (27, 'Benjamin Harris', 'bradleymosley@smith.info'),
 (28, 'Patricia Holmes', 'adammcdowell@hotmail.com'),
 (29, 'Lisa Pratt', 'stricklandkatrina@smith.info'),
 (30, 'Charlotte Warren', 'billwiggins@holloway-young.biz'),
 (31, 'Jose White', 'bethanygonzalez@stone-thomas.com'),
 (32, 'Hailey Nguyen', 'smithbeth@yahoo.com'),
 (33, 'Tanya Rowland', 'campbellamanda@smith-lopez.org')]

In [12]:
from faker import Faker
fake = Faker()

In [114]:
cur.execute("DROP TABLE IF EXISTS psycopg_test;")

In [144]:
cur.execute("CREATE TABLE psycopg_test (id serial PRIMARY KEY, name text, email text);")

DuplicateTable: relation "psycopg_test" already exists

In [116]:
query = """
INSERT INTO psycopg_test(name, email)
VALUES
{}
"""

In [32]:
val_string = str([(fake.name(), fake.email()) for _ in range(20)]).replace("[","").replace("]", "")
val_string

"('Anthony Yang', 'mjames@vega-johnson.com'), ('Amanda Maldonado', 'richardarmstrong@davis.org'), ('Alex Allen', 'carol32@gmail.com'), ('Hannah Davis', 'lawrencejames@gmail.com'), ('Megan Moody', 'danielhaley@hotmail.com'), ('Robert Benton DDS', 'kbender@gmail.com'), ('Tony Calderon', 'micheal86@johnson-hall.com'), ('Patricia Hart', 'dominiqueguzman@yahoo.com'), ('Katrina Brown', 'dkelly@gordon.info'), ('Mr. Cody Brown', 'williamsrhonda@allen-james.com'), ('Heidi Cisneros', 'amiller@reese.org'), ('Louis Murray', 'rstewart@hurst-sanders.net'), ('Logan Sanchez', 'tball@hotmail.com'), ('Natalie Cruz', 'jennifer66@trevino-lara.com'), ('Shannon Mathis', 'pgarrett@gmail.com'), ('Sarah Wilson', 'williamskathleen@gmail.com'), ('Stephanie Kim', 'sanchezrobin@gmail.com'), ('Rickey Rivera', 'bakerjames@johnson.com'), ('James Jackson', 'ssmith@gmail.com'), ('Dr. Ashley Vargas DDS', 'kelly26@gmail.com')"

In [31]:
placeholder_string = str([("%s", "%s") for _ in range(20)]).replace("[","").replace("]", "").replace("'", "")
placeholder_string

'(%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s)'

In [35]:
query.format(placeholder_string)

'\nINSERT INTO psycopg_test(name, email)\nVALUES\n(%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s), (%s, %s)\n'

In [36]:
cur.execute(query.format(placeholder_string), val_string)

TypeError: not all arguments converted during string formatting

In [37]:
val_string

"('Anthony Yang', 'mjames@vega-johnson.com'), ('Amanda Maldonado', 'richardarmstrong@davis.org'), ('Alex Allen', 'carol32@gmail.com'), ('Hannah Davis', 'lawrencejames@gmail.com'), ('Megan Moody', 'danielhaley@hotmail.com'), ('Robert Benton DDS', 'kbender@gmail.com'), ('Tony Calderon', 'micheal86@johnson-hall.com'), ('Patricia Hart', 'dominiqueguzman@yahoo.com'), ('Katrina Brown', 'dkelly@gordon.info'), ('Mr. Cody Brown', 'williamsrhonda@allen-james.com'), ('Heidi Cisneros', 'amiller@reese.org'), ('Louis Murray', 'rstewart@hurst-sanders.net'), ('Logan Sanchez', 'tball@hotmail.com'), ('Natalie Cruz', 'jennifer66@trevino-lara.com'), ('Shannon Mathis', 'pgarrett@gmail.com'), ('Sarah Wilson', 'williamskathleen@gmail.com'), ('Stephanie Kim', 'sanchezrobin@gmail.com'), ('Rickey Rivera', 'bakerjames@johnson.com'), ('James Jackson', 'ssmith@gmail.com'), ('Dr. Ashley Vargas DDS', 'kelly26@gmail.com')"

## This works. But ... rabbit hole ahead!

In [147]:
conn.rollback()
conn.autocommit = True

In [149]:
cur.execute("TRUNCATE TABLE psycopg_test;")

In [150]:
cur.execute("SELECT * FROM psycopg_test")
cur.fetchall()

[]

In [151]:
placeholder_string = str([("%s", "%s") for _ in range(2)]).replace("[","").replace("]", "").replace("'", "")
placeholder_string

'(%s, %s), (%s, %s)'

In [152]:
query = "INSERT INTO psycopg_test(name, email) VALUES {}"

In [153]:
query.format(placeholder_string)

'INSERT INTO psycopg_test(name, email) VALUES (%s, %s), (%s, %s)'

In [154]:
val_list = []
for _ in range(2):
    val_list.append(fake.name())
    val_list.append(fake.email())
val_list

['Jennifer Munoz',
 'ekrueger@patel-meyer.com',
 'Samantha Ortiz',
 'jayala@obrien-hernandez.com']

In [155]:
query.format(placeholder_string), val_list

('INSERT INTO psycopg_test(name, email) VALUES (%s, %s), (%s, %s)',
 ['Jennifer Munoz',
  'ekrueger@patel-meyer.com',
  'Samantha Ortiz',
  'jayala@obrien-hernandez.com'])

In [156]:
cur.execute(query.format(placeholder_string), val_list)

In [157]:
cur.execute("SELECT * FROM psycopg_test")
cur.fetchall()

[(34, 'Jennifer Munoz', 'ekrueger@patel-meyer.com'),
 (35, 'Samantha Ortiz', 'jayala@obrien-hernandez.com')]

## Down the Rabbit Hole!

Start over

In [86]:
# from faker import Faker

# #version 1
# def make_fake_data(n=2, params=None):
#     '''
#     input 
#         n: integer
#         params: list
    
#     output
#         tuple: placeholder_string, val_list_of_tuples
#     '''
#     def make_list_of_tuples(fake_data, number_of_params):
#         length = len(fake_data)
#         list_of_tuples = []
#         for i in range(0,length,number_of_params):
#             list_of_tuples.append(tuple(fake_data[i:i+number_of_params]))
#         return list_of_tuples
        
        
#     fake = Faker()
#     try:
#         fake_data = [eval(f"fake.{item}()") for _ in range(n) for item in params ]
#         fake_data = make_list_of_tuples(fake_data, len(params))

        
#     except Exception as e:
#         fake_data = []
#         print(e)

#     #return placeholder_string, val_string 
#     return fake_data

In [91]:
from faker import Faker
#version #2
def make_fake_data(n=2, params=None):
    '''
    input 
        n: integer
        params: list
    
    output
        tuple: placeholder_string, val_list_of_tuples
    '''
    def make_val_string(number_of_records, params):
        fake_data = [eval(f"fake.{item}()") for _ in range(number_of_records) for item in params ]
        length = len(fake_data)
        val_string = []
        for i in range(0,length,len(params)):
            val_string.append(tuple(fake_data[i:i+len(params)]))
        return val_string

        
    fake = Faker()
    try:
#         fake_data = [eval(f"fake.{item}()") for _ in range(n) for item in params ]
        val_string = make_val_string(n, params)
    except Exception as e:
        print(e)

    return val_string

In [101]:
from faker import Faker
#version #3
def make_fake_data(n=2, params=None):
    '''
    input 
        n: integer
        params: list
    
    output
        tuple: placeholder_string, val_list
    '''
    
#     def make_val_string(number_of_records, params):
#         fake_data = [eval(f"fake.{item}()") for _ in range(number_of_records) for item in params ]
#         val_string = [tuple(fake_data[i:i+len(params)]) for i in range(0,len(fake_data),len(params))]
        
#         return val_string
#     placeholder_string = str([("%s", "%s") for _ in range(2)]).replace("[","").replace("]", "").replace("'", "")
#     placeholder_string
    def make_placeholder_string(number_of_records,params):
        pass
    

    try:
        fake = Faker()
        fake_data = [eval(f"fake.{item}()") for _ in range(n) for item in params ]
    except Exception as e:
        print(e)

    return fake_data

In [108]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [113]:
str.partition??

Signature: str.partition(self, sep, /)
Docstring:
Partition the string into three parts using the given separator.

This will search for the separator in the string.  If the separator is found,
returns a 3-tuple containing the part before the separator, the separator
itself, and the part after it.

If the separator is not found, returns a 3-tuple containing the original string
and two empty strings.
Type:      method_descriptor

In [104]:
output_tuple, output_list = make_fake_data(n=2, params=['name', 'email'])
output_list

['Linda Curtis',
 'milleremma@larsen.com',
 'Bailey Gonzales',
 'thompsonthomas@gmail.com']

In [105]:
cur.execute(query.format(placeholder_string), output_list )

In [107]:
cur.execute("SELECT * FROM psycopg_test")
cur.fetchall()

[(1, 'Scott Moore', 'lramos@hotmail.com'),
 (2, 'Jacob Martin', 'joseph12@yahoo.com'),
 (3, 'Robert Young', 'mjohnson@gmail.com'),
 (4, 'Nicole Moore', 'chrisanderson@hill.net'),
 (5, 'Linda Curtis', 'milleremma@larsen.com'),
 (6, 'Bailey Gonzales', 'thompsonthomas@gmail.com')]

In [ ]:
placeholder_string = str([("%s", "%s") for _ in range(2)]).replace("[","").replace("]", "").replace("'", "")
placeholder_string